* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.mi {
  color: #cd2122;
}

.health {
  color: #8cc62a;
}

.hero {
  width: 100%;
  height: 375px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introText {
  width: 40%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.introText > h1 {
  font-size: 3em ;
  margin-bottom: 12px;
}

.introText > p {
  font-size: 1.1em;
  margin-bottom: 12px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  width: 40%;
  min-width: 458px;
}

span > img {
  width: 150px;
  height: auto;
  margin-left: 10px;
}

.apple-quinoa > .meals {
  position: fixed;
  top: 314px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pasta > .meals {
  position: fixed;
  top: 314px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shrimpcontainer > .meals {
  position: fixed;
  top: 314px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

span > h3 {
  padding: 5px;
}

.meals1 {
  background-color: #fff;
}

.meals2 {
  background-color: #8cc62a;
}

.shrimp {
  height: 225px;
}

